{% extends "layouts/english-ai-splash.html" %}
{% set pageName="Payments prototypes" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Product is:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Keeps sensitve data secure and private
        </li>
        <li>
          Built by government for government
        </li>
        <li>
          Predictable costs and no minimum size
        </li>
        <li>
          Get started with no technical knowledge
        </li>
      </ul>
    </div>
  </div>


{% endblock %}
