{% extends "layouts/english-ai-splash.html" %}
{% set pageName="Payments prototypes" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">You can do whatever:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Control your organisation's data
        </li>
        <li>
          Produce offical documents cheaply
        </li>
        <li>
          Check documents quick and securely
        </li>
        <li>
          Get started with no technical knowledge
        </li>
      </ul>
    </div>
  </div>


{% endblock %}
