{% extends "layouts/minting-signed-in.html" %}

{% block pageTitle %}
  Issue proof - GOV.UK Proof
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <ul class="govuk-list" id="sidebar">
        <li>
          <a class="govuk-link" href="/proof/create/home-page">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Issue</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Templates</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Check</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Settings</a>
        </li>
        <li>
          <a class="govuk-link" href="#">API integration</a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-three-quarters">

      <div class="govuk-form-group" id="form-background-gov-wales">

        <h1 class="govuk-heading-l">Check information before issuing credential</h1>

        <div class="govuk-summary-card" style=" border: 2px solid #243746;">
          <div class="govuk-summary-card__title-wrapper" style="border-bottom: 2px solid #243746; background: #FFA491;">
            <h2 class="govuk-summary-card__title">
              Care leaver
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="#" style="color: inherit; font-weight: 400;">Edit</a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content" style="background: #fff;">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Issuer
                </dt>
                <dd class="govuk-summary-list__value">
                  Arnsford Distrct Council
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Full name
                </dt>
                <dd class="govuk-summary-list__value">
                  Henrik Collymore
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email
                </dt>
                <dd class="govuk-summary-list__value">
                  hcolleymore@gmail.com
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  3 10 2008
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Leave date
                </dt>
                <dd class="govuk-summary-list__value">
                  11 6 2026
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  72 Guild Street<br>Arnsford<br>AR23 6FH
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <h2 class="govuk-heading-m">Now issue credential</h2>
        <p class="govuk-body">By submitting this information you are confirming that, to the best of your knowledge, the proof you are providing is correct.</p>

        <form action="./proof-confirmation" method="post" novalidate >

          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button" id="continue-button-gov-wales">
              Issue credential
            </button>
            <!--
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="secondary-button-gov-wales">
              Add another property
            </button>
            -->
          </div>

        </form>

      </div>
    </div>
  </div>

{% endblock %}
