{% extends "layouts/minting-signed-in.html" %}

{% block pageTitle %}
  Home - GOV.UK Proof
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <ul class="govuk-list" id="sidebar">
        <li>
          <a class="govuk-link govuk-!-font-weight-bold" href="#">Dashboard</a>
        </li>
        <li>
          <a class="govuk-link" href="./select-template">Issue </a>
        </li>
        <li>
          <a class="govuk-link" href="#">Templates</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Check</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Settings</a>
        </li>
        <li>
          <a class="govuk-link" href="#">API integration</a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-m">Credentials</h3>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-panel govuk-panel--confirmation" style="text-align: left; padding: 15px 15px 15px 15px; background-color: #a7a4df; border: 2px solid #243746">
        <p style="margin-bottom: 0px; color: #243746;">
          <span class="govuk-!-font-size-24 govuk-!-font-weight-bold">492</span><br>
          <a href="#" class="govuk-link" style="color: #243746;">Active credentials</a></p>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-panel govuk-panel--confirmation" style="text-align: left; padding: 15px 15px 15px 15px; background-color: #a7a4df; border: 2px solid #243746">
        <p style="margin-bottom: 0px; color: #243746;">
          <span class="govuk-!-font-size-24 govuk-!-font-weight-bold">2401</span><br>
          <a href="#" class="govuk-link" style="color: #243746;">Expired credentials</a></p>
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-panel govuk-panel--confirmation" style="text-align: left; padding: 15px 15px 15px 15px; background: #a7a4df; border: 2px solid #243746">
        <p style="margin-bottom: 0px; color: #243746;">
          <span class="govuk-!-font-size-24 govuk-!-font-weight-bold">829</span><br>
          <a href="#" class="govuk-link" style="color: #243746;">Credentials checked</a></p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <p></p>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Templates</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Issued</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Checked</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#" style="color: inherit; font-weight: 400;">Care leaver</a></th>
          <td class="govuk-table__cell govuk-table__cell--numeric">532</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">710</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/life-events/sender/child-disability-living-allowance">Edit</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#" style="color: inherit; font-weight: 400;">Hygiene certificate</a></th>
          <td class="govuk-table__cell govuk-table__cell--numeric">1003</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">2042</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/life-events/sender/child-disability-living-allowance">Edit</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#" style="color: inherit; font-weight: 400;">Alcohol licence</a></th>
          <td class="govuk-table__cell govuk-table__cell--numeric">314</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">813</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/life-events/sender/child-disability-living-allowance">Edit</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a href="#" style="color: inherit; font-weight: 400;">Caravan site licence</a></th>
          <td class="govuk-table__cell govuk-table__cell--numeric">314</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">813</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="/life-events/sender/child-disability-living-allowance">Edit</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


{% endblock %}
