{% extends "layouts/register-birth.html" %}

{% block pageTitle %}
  GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation" style="background: #a7a4df; border: 2px solid #243746">
        <h1 class="govuk-panel__title" style="color: #243746">
          Application sent
        </h1>
        <div class="govuk-panel__body" style="color: #243746;">
          Reference number<br><strong>HXJ8723QD</strong>
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
        We’ve sent your details to <span class="govuk-!-font-weight-bold">Chidlcare Funding Agency</span>. They will be in contact in the next 10 days.
      </p>
      <p class="govuk-body">They will contact you either to confirm your registration, or to ask for more information.</p>

    </div>
  </div>   
{% endblock %}
