{% extends "layouts/ai-signed-in.html" %}

{% block pageTitle %}
  Home - GOV.UK Proof
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-m">Safeguarding<span class="govuk-!-font-weight-regular"> | Aaron Higgs</span></h3>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" style="margin-bottom: 0px;">
        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="10" aria-describedby="more-detail-hint"  style="margin-bottom: 0px;">Mr Higgs experiences intense emotional states of paranoia and anxiety that cause him to isolate himself for days on end.This may result in little or no intake of food or drink, which has previously left him too weak to look after himself.</textarea>
      </div>
     <div id="ai-summary" class="govuk-summary-card" style="margin-bottom: 0px; border-top: 0px solid black; padding: 0px 0px 0px 0px;">
       <div class="govuk-summary-card__content">
         <p id="ai-search-result-text" class="govuk-body" style="margin-bottom: 0px; text-align: center; opacity: 1;">AI generated summary</p>
       </div>
     </div> 
    </div>
    <div class="govuk-grid-column-one-third">
      <form class="form" action="./search-results" method="post">
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="background: transparent; border: 2px solid #243746; color: #243746;">
            Ask for check
          </button>
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="background: transparent; border: 2px solid #243746; color: #243746;">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>


{% endblock %}
